[Unit]
Description=Weekly Ansible node-state run
Requires=ansible-node-state.service

[Timer]
# Run weekly on Sunday at 02:00
OnCalendar=Sun *-*-* 02:00:00
# If shoebox was off at the scheduled time, run within 1 hour of next boot
Persistent=true
RandomizedDelaySec=600

[Install]
WantedBy=timers.target
