all:
  vars:
    ansible_user: ubuntu
    # usb_disk: "" # Set this var on the command line if an external disk is in use.
  children:
    masters:
      hosts:
        cluster1:
          ip: 10.10.10.10
          cluster_role: "first-master"
    multimasters:
      hosts:
        cluster3:
        cluster4:
      vars: 
        cluster_role: "multi-master"
    agents:
      hosts:
        nuc1:
          ansible_user: ohthehugemanatee
        nuc2:
        fuji:
          ansible_user: ohthehugemanatee
        celery:
        ubuntu:
      vars:
        cluster_role: "agent"
