---
  # Prerequisite: node must already be reachable by its final hostname.
  # To rename a node first, use rename-node.yaml.

  - name: "Setup k3s node"
    hosts: all:!ubuntu
    become: true
    tasks:
      - name: Apt installs
        ansible.builtin.apt:
          update_cache: true
          lock_timeout: 300
          pkg:
            - nfs-client
            - vim
      - name: x86-only apt installs
        when: ansible_architecture == "x86_64"
        ansible.builtin.apt:
          pkg:
            - intel-media-va-driver-non-free
            - libmfx1
      - name: Disable SWAP since kubernetes can't work with swap enabled (1/2)
        ansible.builtin.shell: |
          swapoff -a
      - name: Disable SWAP in fstab since kubernetes can't work with swap enabled (2/2)
        ansible.builtin.replace:
          path: /etc/fstab
          regexp: '^([^#].*?\sswap\s+sw\s+.*)$'
          replace: '# \1'
      - name: get PARTUUID
        ansible.builtin.command: 'lsblk {{ usb_disk }} -no PARTUUID'
        register: partuuid
        when: usb_disk is defined
      - name: Mount up USB disk
        ansible.posix.mount:
          path: /mnt/usb
          src: 'PARTUUID={{ partuuid.stdout }}'
          fstype: ext4
          opts: noatime
          state: mounted
        when: usb_disk is defined
      - name: Create k3s directory on usb device
        ansible.builtin.file:
          path: /mnt/usb/k3s
          state: directory
          owner: root
          group: root
          mode: '0755'

        when: usb_disk is defined
      - name: Create longhorn directory on usb device
        ansible.builtin.file:
          path: /mnt/usb/longhorn
          state: directory
          owner: root
          group: root
          mode: '0755'
        when: usb_disk is defined
      - name: Create rancher root directory
        ansible.builtin.file:
          path: /var/lib/rancher
          state: directory
          owner: root
          group: root
          mode: '0755'
      - name: Create symbolic link for usb dir
        ansible.builtin.file:
          dest: "/var/lib/rancher/k3s"
          src: "/mnt/usb/k3s"
          state: link
        when: usb_disk is defined
      - name: Make journalctl log to memory
        ansible.builtin.lineinfile:
          path: /etc/systemd/journald.conf
          insertbefore: '^#Storage=auto'
          line: 'Storage=volatile'
          firstmatch: true
      - name: Restart journald service
        ansible.builtin.systemd:
          state: restarted
          name: systemd-journald.service
      - name: Disable multipath for additional volumes
        ansible.builtin.blockinfile:
          path: /etc/multipath.conf
          insertafter: "EOF"
          block: |
            blacklist {
              devnode "^sd[b-z0-9]+"
            }
      - name: Restart multipath service
        ansible.builtin.systemd:
          state: restarted
          name: multipathd.service
      - name: Pre-installation reboot
        ansible.builtin.reboot:
      - name: Download k3s agent installer
        tags:
          - k3s
        ansible.builtin.get_url:
          url: https://get.k3s.io
          dest: /tmp/k3s-setup.sh
          mode: 0755
      - name: Run k3s agent installer
        when: cluster_role == "agent"
        tags:
          - k3s
        ansible.builtin.shell: /tmp/k3s-setup.sh
        environment:
          K3S_URL: https://10.10.10.10:6443
          K3S_TOKEN: "{{ k3s_token }}"
      - name: Run k3s multi-master installer
        when: cluster_role == "multi-master"
        tags:
          - k3s
        ansible.builtin.shell: /tmp/k3s-setup.sh
        environment:
          K3S_URL: https://10.10.10.10:6443
          K3S_TOKEN: "{{ k3s_token }}"
          INSTALL_K3S_EXEC: "server --server https://10.10.10.10:6443 --disable=servicelb"
      - name: Run k3s first master installer
        when: cluster_role == "first-master"
        tags:
          - k3s
        ansible.builtin.shell: /tmp/k3s-setup.sh
        environment:
          K3S_TOKEN: "{{ k3s_token }}"
          INSTALL_K3S_EXEC: "server --cluster-init --disable=servicelb"
